<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://launch.qeyno.com/">Qeyno</a>
  is where Khan Academy meets LinkedIN for Students (13-17) - Gamified Career Discovery for Kids.
</p>